html{
    box-sizing: border-box;
    height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body{

    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    overflow-Y: scroll;
    overflow-x: hidden;
}

// navbar section

.navbar{
    display: flex;
    width: 100vw;
    height: 60px;
    background: rgba(0, 0, 0, 0.8);
    color:#fff;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #404040;
}

.left_col{
    flex:0.33;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-right: 50px;
}

.middle_col{
    flex:0.33;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

  
}

.right_col{
    flex:0.33;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.icon{
    width: 40px;
    height: 40px;
}

.fb_logo{
    border-radius: 50%;
    background-color: red;
    margin-left:20px;
}

.search_icon{
    background-color: rgb(59, 59, 59);
    margin-left: 10px;
}

.second-more{
    display: none;
    background: hotpink;
    border-radius: 50%;
}

.marginLeft{
    margin-left: 10px;
}

.marginRight{
    margin-right: 10px;
}

.account{
    background: blue;
    margin-left: 10px;
}
.notifications{
    background: orange;
}
.messages{
    background: purple;
}
.plus{
    background: white;
}
.peti{
    background: grey;
    width: 70px;
    height: 40px;
    border-radius: 20px;
}


.home{
    background: tomato;
}
.watch{
    background: violet;
}
.marketplace{
    background: steelblue;
}
.groups{
    background: springgreen;
}
.gaming{
    background: teal;
}

.more{
    background: hotpink;
    border-radius: 50%;
    display: none;
    
}



@media only screen and (max-width:1199px){
    .more{
        display: block;
    }
    .story{
        justify-content: space-between;
    }
   

// sections
    .row{
        height: 100%;
    }

    .col{
        height: auto;
    }



    #left-section{
        display: none;
    }
    #middle-section{
        flex:63%;
        max-width: 63%;
    }
    #right-section{
        flex:30%;
        max-width: 30%;
        // margin-left:275px;
    }
}

@media only screen and (max-width:899px){

    #right-section{
        display: none;
    }

    #middle-section{
        flex:75%;
        max-width: 85%;
    }
  
}






// navbar section end


.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}

.col{
    box-sizing: border-box;
    padding: 5px;
    background: cadetblue;
    margin: 5px;
    
    margin-top:15px;
}

#left-section{
    flex:27%;
    width: 27%;

    // margin-right:275px;

    .column{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 95%;

        #top-col{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            flex:24%;
            width: 84%;
    
            .left-menu{
                display: flex;
                width: 90%;
                height: 15%;
                background-color: red;
                border-radius: 10px;
            }
        }

        #bottom-col{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            flex:24%;
            width: 84%;
            min-height: 50%;
            top:20px;

            .left-groups{
                display: flex;
                width: 90%;
                height: 14%;
                background-color:blue;
                border-radius: 10px;
            }
        }
    }
    .inside-col{
        box-sizing: border-box;
        padding: 5px;
        background: skyblue;
        margin: 5px;
        // height:90%;
        // margin-top:27px;
    }
    
    
        
}
#middle-section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex:43%;
    width: 44%;
    flex-direction: column;
 

    .storyes-row{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 22%;
        background-color: skyblue;
        margin-bottom: 2px;

        .story{
            width: 17%;
            height: 93%;
            background-color: slategrey;
            margin:2px;
            border-radius: 15px;
        }
    
    }
    .newpost-row{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 17px;
        width: 90%;
        height: 13%;
        background-color: skyblue;

        .whatsOnYourMind-section{
            width: 99%;
            height: 50%;
            background-color: slategrey;
        }
        .addphoto-section{
            width: 99%;
            height: 50%;
            background-color: red;
        }
    }
    .rooms{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 90%;
        height: 10%;
        background-color: skyblue;
        
      .create-room{
        display: flex;
        flex-direction: row;
        height: 45%;
        background-color: yellowgreen;
        }

      .room-row{
        display: flex;
        flex-direction: row;
        height: 55%;
        justify-content: space-around;
        background-color: thistle;
        

        .room-friend{
            width: 45px;
            height: 45px;
            background-color: teal;
            border-radius: 50%;
            align-self: center;
        }
      }  
        
    }
    .post{
        margin:17px;
        width: 90%;
        height: 50%;
        background-color: skyblue;

    }
    
    @media only screen and (max-width:1299px){
        #middle-section{
            flex:87%;
            width: 87%;
        }
        .last{
            display: none;
        }
    }
}
#right-section{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    flex:27%;
    width: 27%;
 

  
    // margin-left:275px;

    .sponsors{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        width: 65%;
        height: 36%;
        background-color: skyblue;
        margin-bottom: 5px;

        .sponsor{
            display: flex;
            width: 100%;
            height: 40%;
            background-color: yellow;
            margin:2px;
        }
    }
    .requests{
        width: 65%;
        height: 16%;
        background-color: skyblue;
        margin-bottom: 5px;
    }
    .birthdays{
        width: 65%;
        height: 12%;
        background-color: skyblue;
        margin-bottom: 5px;
    }
    .contacts{
        width: 65%;
        height: 30%;
        background-color: skyblue;
        margin-bottom: 5px;
    }

    @media only screen and (max-width:1559px){
        .mid{
            width: 100%;
        }
        .right-menu{
            width: 90%;
        }
    }
}



@media only screen and (max-width:899px){

    #right-section{
        display: none;
    }

  
}



// ------------
.column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 80%;
}
.inside-col{
    box-sizing: border-box;
    padding: 5px;
    background: skyblue;
    margin: 5px;
    // height:90%;
    // margin-top:27px;
}
#top-col{
    flex:24%;
    width: 74%;
}
#bottom-col{
    flex:24%;
    width: 74%;
    
}



@media only screen and (max-width:700px){
    .last-story{
        display: none;
    }
    
    #middle-section{
        flex:90%;
        max-width: 90%;
    }
   #right-section{
       display: none;
   }
   .second-more{
    display: block;
    }   
    .story{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

   .navbar{ 
       display: flex;


    .right_col{
        display: flex;
        flex-grow: 2;
        padding-right: 20px;
 
         .peti{
          display: none;
         }
     }

    .middle_col{
        display: none;
    }
   }

       
    
    

  
}