html{
    box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

// navbar section

.navbar{
    display: flex;
    width: 100vw;
    height: 60px;
    background:#1c1e21;
    color:#fff;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.left_col{
    flex:0.33;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-right: 50px;
}

.middle_col{
    flex:0.33;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

  
}

.right_col{
    flex:0.33;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.icon{
    width: 40px;
    height: 40px;
}

.fb_logo{
    border-radius: 50%;
    background-color: red;
    margin-left:20px;
}

.search_icon{
    background-color: rgb(59, 59, 59);
    margin-left: 10px;
}

.marginLeft{
    margin-left: 10px;
}

.marginRight{
    margin-right: 10px;
}

.account{
    background: blue;
    margin-left: 10px;
}
.notifications{
    background: orange;
}
.messages{
    background: purple;
}
.plus{
    background: white;
}
.peti{
    background: grey;
    width: 70px;
    height: 40px;
    border-radius: 20px;
}


.home{
    background: tomato;
}
.watch{
    background: violet;
}
.marketplace{
    background: steelblue;
}
.groups{
    background: springgreen;
}
.gaming{
    background: teal;
}

.more{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: hotpink;
    border-radius: 50%;
    display: none;
}

@media only screen and (max-width:1099px){
    .more{
        display: block;
    }
}

@media only screen and (max-width:700px){
    .middle_col{
        display: none;
    }
   
}

// navbar section end